h1, p{
    text-align: center;
}

#svg-container{
    display: flex; 
    justify-content: center;
    align-items: center;
}

#tooltip{
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    border: 1px solid black;
    padding: 0.5%;
    color: black;
    z-index: 1000; 
    font-size: 1rem;
    color: white;
}

.legend-container{
    background-color: red ;
    display: none;
}

.text {
    fill: black;
    font-size: 0.75rem;
    overflow: hidden;
}

.tspan{
    overflow: hidden;
}